<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>
<body>
  
  <header>
  {% include nav.html %}

  {% if page.title == "Home" %}
    <div class="homepage-header">
      <h1>Dr. Your Name <span class="pronouns">(he/him)</span></h1>
      <p>Mathematician | Researcher | Educator</p>
    </div>
  {% endif %}
</header>

<!--  <header>
    {% include nav.html %}
    <h1>{{ site.title }} (he/him)</h1>
    <p>Mathematician | Postdoc at IMPAN, Warsaw</p>
  </header> -->

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; {{ 'now' | date: '%Y' }} {{ site.title }}</p>
  </footer>
</body>
</html>
