<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>
<body>
  
  <header>
  {% include nav.html %}
  {% if page.title == "Home" %}
<div class="homepage-header">
      <img src="/assets/img/Araujo_Profile_photo.jpg" alt="Photo of Roberto Araujo" class="profile-pic">
      <h1>Roberto Araujo</h1>
      <p class="subtitle"> Mathematician | Postdoc at IMPAN, Warsaw</p>
</div> {% endif %}
</header>
     <!-- <div class="homepage-header">
   <h1>Roberto Araujo</h1>
  <p class="pronouns"><em>he/him</em></p>
  <p class="subtitle">Mathematician | Postdoc</p>
    </div>
  {% endif %} -->

<!--  <header>
    {% include nav.html %}
    <h1>{{ site.title }} (he/him)</h1>
    <p>Mathematician | Postdoc at IMPAN, Warsaw</p>
  </header> -->

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; {{ 'now' | date: '%Y' }} {{ site.title }}</p>
  </footer>
</body>
</html>
